<!-- ========= SLIDER ========================================================= -->
<div class="fifteen columns jsonly">
  <input class="fontsize" id="fontsizeSlider" type="range"  min="60" max="250" value="120"/>
</div>
<div class="one column jsonly">
  <label class="sliderLabel positiv" id="fontsizeSlider" for="fontsizeSlider">-- px</label>
</div>

<br class='clear' />
<br />


