<br class='clear' />
<br />

<!-- ========= SLIDER ========================================================= -->
<div class="fifteen columns">
  <input class="fontsize jsonly" id="fontsizeSlider" type="range"  min="60" max="250" value="120"/>
</div>
<div class="one column">
  <label class="sliderLabel positiv jsonly" id="fontsizeSlider" for="fontsizeSlider">-- px</label>
</div>

