@font-face {
    font-family: 'FONTFAMILY';
    src: url('EOTFILE');
    src: url('EOTFILE?#iefix') format('embedded-opentype'),
         url('WOFFFILE') format('woff'),
         url('TTFFILE') format('truetype'),
         url('SVGFILE#league_gothicregular') format('svg');
}
