<div id="downloads" class="fifteen columns offset-by-one"><!-- PRE -->
  <span class="button negativ highlighted">Download</span><!-- PRE -->


  <a class="button positiv" href="DOWNLOADLINK">TYPE</a><!-- LOOP -->


</div><!-- POST -->
<br class='clear' /><!-- POST -->
<br /><br /><br /><!-- POST -->
