<div class="templatecontent fontlog twelve columns offset-by-one"><!-- PRE -->
<a class="button positiv" id="ajax" href="export/FONTLOG.txt">Fontlog</a><!-- PRE -->
<pre><!-- PRE -->


</pre><!-- POST -->
</div><!-- POST -->
<br class="clear" /><br /><!-- POST -->
