
<div style="overflow:auto; padding-bottom: 60px;"></div>

</div> <!--close div.clipx-->
</div> <!--close div.container-->


<div class="footer negativ">
  <a href="http://github.com/lafkon/fontain"><img src="../img/GitHub_Logo.png" /></a>
  <a href="http://www.fontain.org/"><img class="logo" src="../img/fontain-logo-footer.svg" width="48px"></a>
  <a href="http://www.lafkon.net/"><img src="../img/lafkon_minilogo_EEE.gif" /></a>
</div>
