<div class="header sixteen columns positiv">

  <div class="menu positiv">
    <button class="menuitem logosmall negativ" href="">fontain</button>
    <button class="menuitem positiv" href="">about</button>
    <button class="menuitem positiv" href="">kontakt</button>
    <button class="menuitem positiv" href="">github</button>
  </div>
</div>	

<br class='clear'>
<br/><br/><br/>
<br/><br/><br/>