<div class="header sixteen columns positiv">

  <img class="logo" src="img/fontain-logo.svg" width="60px">

  <div class="menu positiv">
    <a class="button menuitem logobig negativ" href="xx">fontain</a>
    <a class="button menuitem positiv" href="">about</a>
    <a class="button menuitem positiv" href="">kontakt</a>
    <a class="button menuitem positiv" href="">github</a>
  </div>

  
</div>	

<br class='clear'>
<br/><br/>

