<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>FONTFAMILY on fontain</title>
	<meta name="description" content="fontain">
	<meta name="author" content="LAFKON Publishing. Christoph Haag, Benjamin Stephan">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->

 	<script type="text/javascript"> var isListPage = ISLIST; </script> 
  
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/skeleton.css">
	<link rel="stylesheet" href="../css/layout.css">
	<link rel="stylesheet" href="../css/rangeslider.css">	
	<link rel="stylesheet" href="../css/fontain.css">
	<link rel="stylesheet" href="CUSTOMCSS">
	<link rel="stylesheet" href="webfont/webfont.css">	

  HEADINJECTION	
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="../img/favicon.ico">
	<link rel="apple-touch-icon" href="../img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/apple-touch-icon-114x114.png">

	<script type="text/javascript" src="../js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="../js/jquery-ui.js"></script>
	<script type="text/javascript" src="../js/fontain.js"></script>
	<script type="text/javascript" src="../js/rangeslider.min.js"></script>

</head>
<body class="positiv">
  <div class="container">
